<ul class="nav nav-pills d-flex justify-content-between">
  <div class="d-flex">
    <li class="nav-item">
      <a class="nav-link cursor" routerLink="/heroes/equipo" routerLinkActive="active">Equipo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor" routerLink="/heroes/buscador" routerLinkActive="active">Buscador de heroes</a>
    </li>
  </div>
  <div>
    <li class="nav-item">
      <button class="btn btn-primary" type="button" (click)="cerrarSesion()">Cerrar sesion</button>
    </li>
  </div>
</ul>