<div class="row d-flex justify-content-center">
    <div class="col-2 card m-1" *ngFor="let heroe of equipo">
        
        <h4>{{ heroe.name }}</h4>
        <img src="{{ heroe.image.url }}" alt="{{ heroe.name }}">
        <ul>
            <p>Combate: </p><li>{{ heroe.powerstats.combat }}</li>
            <p>Durabilidad: </p><li>{{ heroe.powerstats.durability }}</li>
            <p>Inteligencia: </p><li>{{ heroe.powerstats.intelligence }}</li>
            <p>Poder: </p><li>{{ heroe.powerstats.power }}</li>
            <p>Velocidad: </p><li>{{ heroe.powerstats.speed }}</li>
            <p>Fuerza: </p><li>{{ heroe.powerstats.strength }}</li>
        </ul>
        <button>ver</button>
        <button>eliminar</button>
    </div>
</div>