<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="my-2">
            <h2>Login</h2>
        </div>
        <form class="card shadow p-4">
            <div class="mb-3 row">
                <label class="col-form-label">Email</label>
                <input type="email" 
                       class="form-control">
                <span class="form-text text-danger">
                    The email is required
                </span>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label">Password</label>
                <input type="password" 
                       class="form-control">
                <span class="form-text text-danger">
                    The password is required
                </span>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" 
                            class="btn btn-primary float-end">
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
