<ul class="list-group">
    <li class="list-group-item">
        Combate <span class="fw-bold float-end">{{ powerstats.combat }}</span>
    </li>
    <li class="list-group-item">
        Resistencia <span class="fw-bold float-end">{{ powerstats.durability }}</span>
    </li>
    <li class="list-group-item">
        Inteligencia <span class="fw-bold float-end">{{ powerstats.intelligence }}</span>
    </li>
    <li class="list-group-item">
        Poder <span class="fw-bold float-end">{{ powerstats.power }}</span>
    </li>
    <li class="list-group-item">
        Velocidad <span class="fw-bold float-end">{{ powerstats.speed }}</span>
    </li>
    <li class="list-group-item">
        Fuerza <span class="fw-bold float-end">{{ powerstats.strength }}</span>
    </li>
</ul>
